<section>
    <h1>Certificates</h1>
    <div data-iframe-width="250" data-iframe-height="270" data-share-badge-id="58fa8011-f1da-4a68-846c-b869ee04012b"></div>
    <div data-iframe-width="250" data-iframe-height="270" data-share-badge-id="d5492e6e-9cb6-4665-b131-973bf8204190"></div>
    <script type="text/javascript">
        (function() {
            var s = document.createElement('script');
            s.type = 'text/javascript';
            s.async = true;
            s.src = '//www.youracclaim.com/assets/utilities/embed.js';
            var o = document.getElementsByTagName('script')[0];
            o.parentNode.insertBefore(s, o);
        })();
    </script>
</section>