/*********************************************
 * TAGCLOUD
 *********************************************/
span.clouditem {
    padding-left: 0.15em;
    padding-right: 0.15em;
    line-height: 90%;
}